:root {
	--clr-primary-300: #508bc2;
	--clr-primary-400: #8CC8FF;
	--clr-background: #2E394D;
	--clr-background-light: #455473;
	--clr-background-dark: #1a273d;
	--clr-background-disabled: #354053;

	--clr-on-background: #FFFFFF;
	--clr-on-background-secondary: #C5C5C5;
	--clr-on-primary: #131820;
	
	--clr-on: var(--clr-on-background);
	--clr-disabled: rgba(255, 255, 255, 0.2);
}

body {
	background-color: #2E394D;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 20px;
}

body {
	color: var(--clr-on-background);
	margin: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

h4 {
	font-size: 0.8rem;
	color: var(--clr-on-background-secondary);
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: var(--clr-disabled);
	background-color: var(--clr-background-disabled);
}

fieldset:disabled {
	color: var(--clr-disabled);
}

button,
select {
	background: #2D384C;
	box-shadow:  4px 4px 8px #222b3a,
             -4px -4px 8px #38455e;
	border: none;
	border-radius: 0.5rem;
	color: var(--clr-on-background);
}

button:disabled,
select:disabled {
	background: var(--clr-background);
	box-shadow: none;
}

button:not(:disabled):hover,
button:not(:disabled):active,
select:hover,
select:active {
	background: linear-gradient(145deg, #334057, #262F40);
}

select {
	color: var(--clr-on-background);
}

select > * {
	color: var(--clr-on-background);
	background: var(--clr-background);
}

input {
	border: none;
	background: var(--clr-background);
	box-shadow: inset 5px 5px 10px #273041,
            inset -5px -5px 10px #334057;
	border-radius: 0.2rem;
	color: var(--clr-on);
	font-size: 1.2rem;
}

input:disabled {
	box-shadow: none;
}

input:disabled::placeholder {
	opacity: 0.5;
}

fieldset {
	border: none;
	padding: 0;
}

h2 {
	margin-block-start: 3rem;
	margin-block-end: 1rem;
}

h3 {
	margin-block-start: 2rem;
	margin-block-end: 0.5rem;	
}